
.row
  .dumer-item
    block title
.content
  .row
    .one-half.column
      h5 Descricao:
    .one-half.column
  .row.dumer-subitem
    block d
  .row
    .one-half.column
      h5 Utilidade:
    .one-half.column
  .row.dumer-subitem
    block u 
  .row
    .one-half.column
      h5 Metodo:
    .one-half.column
  .row.dumer-subitem
    block m 
  .row
    .one-half.column
      h5 Exemplos:
    .one-half.column
  .row.dumer-subitem
    block e  
  .row
    .one-half.column
      h5 Relacionados:
    .one-half.column
  .row.dumer-subitem
    block r
      