{{#md-card}}
	<div class='center-div'>
		{{md-input label='Email' type="email" class="col s12" validate=true value=email}}
		{{md-input label='Password' type="password" class="col s12" validate=true value=password}}
	</div>
{{/md-card}}
