<div class='parent'>
	<div class='child'>
		<div class='inner-child'>
		</div>
	</div>
	<div class='child'>
		<div class='inner-child'>
		</div>
	</div>
	<div class='child'>
		<div class='inner-child'>
		</div>
	</div>
	<div class='child'>
		<div class='inner-child'>
		</div>
	</div>
	<div class='child'>
		<div class='inner-child'>
		</div>
	</div>
	<div class='child'>
		<div class='inner-child'>
		</div>
	</div>
</div>
{{outlet}}
