<div class='box'>
	<div class='content'>
	</div>	
</div>
<hr>
<div class='parent'>
	<div class='box'>
		<div class='content'>
		</div>	
	</div>
	<div class='box'>
		<div class='content'>
		</div>	
	</div>
	<div class='box'>
		<div class='content'>
			<img src="https://pousada.s3-sa-east-1.amazonaws.com/imagens/album/DSC_0030.jpeg">
		</div>	
	</div>
</div>
{{outlet}}
