<div class="row">
	<div>
		{{#md-card id="image-card"}}
		<h5>New todo</h5>
			{{#if msgVisible}}
				{{#md-card-panel class=(readonly msgColor)
				bodyClass="white-text"
				id="card-panel"}}
					{{msgContent}}
				{{/md-card-panel}}	
			{{/if}}
			{{md-input label='title' type="text" class="col s12" value=model.title validate=true}}
			<div class=''>
				{{md-btn-submit class='indigo'
					id='form-submit'
					action='save'
					text='Save'}}
			</div>
		{{/md-card}}
	</div>
</div>
