{{twitter-navbar}}
<div class='container max-h'>
	<div class='row max-h'>
		<div class='col s12 m3 l3'>
			{{#md-card title="Card Title" id="basic-card"}}
				{{#md-card-content}}
				{{/md-card-content}}
				{{#md-card-action}}
				{{/md-card-action}}
			{{/md-card}}
		</div>
		<div class='col s12 m6 l6'>
		</div>
		<div class='col s12 m3 l3'>
		</div>
	</div>
</div>

