.users-user-chat{
	border: 1px solid black;
	height: 760px;
	width: 80%;
	margin-left: 250px;
	padding: 10px;
	.users-user-chat-messages{
		border: 1px solid black;
		height: 650px;
	}
	.users-user-chat-input{
		border: 1px solid black;
		height: 100px;		
	}
}
