
extends ./templates/note.jade

block title
  .title 
    li.
     Classes
block d
  p.
    You can create objects with functions through ember with 
    Ember.Object.extend()
block u
  p.
    Create Objects 
block m
  pre.
    Person = Ember.Object.extend({
      name: null,
      hello(){
        return '${Hello this.get('name')}';
      }
    });
    
    var marcell = Person.create({
      name: 'marcell'
    });
    marcell.hello();
block e
  p.
    same as mehtod
block r
  p.
    Objects
      