
extends ./templates/note.jade

block title
  .title 
    li.
     Ember-cli
block d
  p.
    tool to generate and manage ember applications
block u
  p.
    generate and manage ember apps
block m
  pre.
    ember new app-name
    ember init
    ember build —watch 
    ember help generate
    ember destroy 
    ember test --server   # will run your tests on every file-change
block e
  p.
    same as method
block r
  p.
    ember
      