
extends ./templates/note.jade

block title
  .title 
    li.
     Enumerables(Iterate)
block d
  p.
    We can iterate through a object
block u
  p.
    Iterate through a object
block m
  pre.
    like in a array
    var Animals = ['cat', 'dog', 'elephant'];
    Animals.forEach(function(item, index){
      console.log("items"+item+index);
    });
block e
  p.
   same as method
block r
  p.
    Enumerables
    Arrays
      