
extends ./templates/note.jade

block title
  .title 
    li.
     Enumerables
block d
  p.
    Lists that we can manipulate 
block u
  p.
    Lists that we can filter, map etc
block m
  pre.
    there are a number of things we can do with 
    enumerables like
    iterate 
    map
    mapby
    filter 
    every
    any
block e
  p.
    examples will be given in the specific topics
block r
  p.
    filter 
    map 
    every
      