
extends ./templates/note.jade

block title
  .title 
    li.
     Js modules
block d
  p.
    modules that can be exported and imported in 
    diferent applications
block u
  p.
    Import and export functionality
block m
  pre.
    export:
    export default function doIt(){

    }

    import:
    import Asap from "asap.js";
    Asap.doIt();
block e
  p.
    same as method
block r
  p.
    function 
    methods
      