extends ./templates/note.jade

block title
  .title 
    li.
     Model(Adapter)
//- is...
block d
  p.
    A part of the application that makes the interaction between
    your model and the server
//- used to...
block u
  p.
    Translates requests to ember into request to a server
//- we need to do this and that...
block m
  pre.
    Architecture(Models, Records, Adapters, Stores!)
  img(src="./img/data.jpg")
//- this is a example... 
block e
  p.
//- is similar to...
block r
  p.
      