
extends ./templates/note.jade

block title
  .title 
    li.
     Test(Testing Actions)
//- is...
block d
  p.
    A way to test component actions
//- used to...
block u
  p.
    Test component actions
//- we need to do this and that...
block m
  p.
    
//- this is a example... 
block e
  p.
//- is similar to...
block r
  p.
      