div.crossfade { background: url('https://fthmb.tqn.com/-xxvT7olX1zbQxc2Ok51RU2rGyQ=/768x0/filters:no_upscale()/lilbub-580729935f9b5805c234a1e8.jpg'); background-size: cover; }
div.crossfade, div.crossfade img  { width: 418px; height: 500px;  }
div.crossfade img { transition: 3s opacity ease-out; }
div.crossfade img:hover { opacity: 0; }
