.md-carousel-album{
	perspective: 600px;
	transition: transform 0.5s 0.0s;
	overflow: hidden;
	.description{
		position: absolute;
		width: 100%;
	}
}

@keyframes fade {
	0%,100% { opacity: 0.5 }
	5%, 95% { opacity: 0.25 }
	10%, 90% { opacity: 0}
}
