.md-side-nav {
	.md-button-dropdown{
		width: 50px;
	}
	top: inherit;
	height: calc(100% - 60px);
	.left-side{
		display: inline-block;
		float: right;
	}
}

.md-side-nav-body{
	padding-left: 0;
	.container{
		max-width: 600px;
	}
}

@media #{$large-and-up}{
	.md-side-nav-body{
		padding-left: 240px;
	}
}

