.skew{
  transform: skewX(180deg);
}

.block-tilt {
  width: 300px; height: 300px; float: left;
  border: 1px solid black;
  -moz-transform: skewY(30deg); -o-transform: skewY(30deg);
  -ms-transform: skewY(30deg);  -webkit-transform skewY(30deg);
  transform: skewY(30deg);
}
