<div class='nav-wrapper'>
	<div class='container'>
		<div class='row'>
			<div class='col l9 m5 l5'>
				<ul>
					<li>
						<a>
							<span>
								<i class="small material-icons">home</i>
							</span>
							<p>Inicio</p>
						</a>
					</li>
					<li class='hide-on-small-only'>
						<a>
							<i class="small material-icons">star</i>
							<p>Moments</p>
						</a>
					</li>
					<li>
						<a>
							<i class="large material-icons">add_alert</i>
							<p>Notificações</p>
						</a>
					</li>
					<li>
						<a>
							<i class="large material-icons">email</i>
							<p>Mensagens</p>
						</a>
					</li>
					<li>
						<a>
							<i class="large material-icons">search</i>
							<p>Search</p>
						</a>
					</li>
				</ul>
			</div>
			<div class='col s3 m3 l3 right'>
				<a>
					<img class='responsive-img' src="https://pbs.twimg.com/profile_images/631135139913965568/ojAeKgTD_bigger.jpg">
					</a>
			</div>
			<div class='col s4 m4 l4'>
				{{input type='pesquisa' value=''}}
				<img class='responsive-img' src="https://pbs.twimg.com/profile_images/631135139913965568/ojAeKgTD_bigger.jpg">
				<button>
				<i class='medium material-icon'>create</i>
				</button>
			</div>
		</div>
	</div>
</div>
