{{#md-side-nav class='indigo'}}
	{{#md-session login=(route-action "login") logout=(route-action "logout")}}
		<a {{action 'user'}}>{{userName}}</a>
		<a {{action 'users'}}>Users</a>
	{{/md-session}}
{{/md-side-nav}}
<div class='side-nav-body'>
	{{outlet}}
	<footer class='page-footer indigo white-text'>
		<div class="container">
		</div>
		{{#md-copyright text='Ember Test'
				startYear=2015
				class='indigo darken-2 white-text'}}
				<a class="white-text right" href="#!">
					Mais
				</a>
		{{/md-copyright}}
	</footer>
</div>
