<div class='dashboard-main'>
	{{#md-card class='pull-left'}}
		{{#md-collection content=model.tasks as |item|}}
			<div id='item' class='collection-item'>
				{{#link-to 'users.user'}}{{item.title}}{{/link-to}}
				<div class='secondary-content'>
				</div>
			</div>
		{{/md-collection}}
	{{/md-card}}
	{{#md-card class='pull-right'}}
		{{#md-collection content=model.todos as |item|}}
			<div id='item' class='collection-item'>
				{{#link-to 'users.user.todos.todo' item}}{{item.title}}{{/link-to}}
				<div class='secondary-content'>
				</div>
			</div>
		{{/md-collection}}
	{{/md-card}}
	{{#md-card class='pull-left'}}
		{{simple-chat}}
	{{/md-card}}
</div>


