<div class='md-carousel-album' style={{escapeCSS carStyle}}>
	{{#each initialImages as |image index|}}
		{{md-carousel-item imageId=index id=index move=(action 'move') 
			 register=(action "register")}}	
	{{/each}}
	<div class='description center-align' style={{escapeCSS descStyle}}>
		<h6>{{description}}</h6>
	</div>
</div>
