{{yield}}
<footer class='page-footer blue white-text'>
	<div class="container">
	</div>
	{{#md-copyright text='Ember Test'
			startYear=2015
			class='blue darken-2 white-text'}}
			<a class="white-text right" href="#!">
				Mais
			</a>
	{{/md-copyright}}
</footer>

