{{#md-navbar name='' class='indigo' }}
	{{session-component onLogin=(action "login")
											onLogout=(action "logout")
											onUser=(action "showUser")
											onUsers=(action "showUsers")}}
{{/md-navbar}}
<footer class='page-footer indigo white-text'>
	<div class="container">
	</div>
	{{#md-copyright text='Ember Test'
			startYear=2015
			class='indigo darken-2 white-text'}}
			<a class="white-text right" href="#!">
				Mais
			</a>
	{{/md-copyright}}
</footer>
{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
{{!-- {{md-carousel-album}} --}}
{{!-- {{login-form login=(action "login")}} --}}
