// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

// ember-cli-materialize styles
@import 'ember-cli-materialize';

@import 'dashboard';
@import 'components/carousel-album';
@import 'components/md-carousel-album';
@import 'components/md-carousel-item';
@import 'components/md-side-nav';


.card{
	text-align: left;
	min-width: 300px;
	width: 50%;
	max-width: 600px;
	display: block;
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.row .col{
	padding: 0;
}

footer.page-footer{
	position: fixed;
	width: 100%;
	bottom: 0;
}

a{
	cursor: pointer;
}
