.height-1{
	max-height: 200px;
}

.height-2{
	max-height: 400px;
}

.height-3{
	max-height: 670px;
	overflow: auto;
}

.default-pag{
	padding: 20px;
}

.pull-left{
	float: left;
	margin-left: 20px;
}

.pull-right{
	float: right;
}

.scroll{
	overflow: auto;	
}

