.users-user-chat{
	margin: 20px auto;
	height: 83vh;
	width: 100%;
	padding: 10px;
	.users-user-chat-messages{
		overflow: scroll;
		height: 90%;
		.users-user-chat-message{
			display: flex;
			padding: 10px;
			.users-user-chat-img{
				flex: 1;
				width: 40px;
			}
			.users-user-chat-text{
				flex: 15;
				width: 200px;
			}
			img {
				width: 50px;		
			}
			.users-user-chat-name{
				display: inline-block;
				font-weight: bold;
			}
			span{
				color: #c8c8c8
			}
		}
	}
	.users-user-chat-input{
		textarea.materialize-textarea {
			padding: 0;
		}
		padding: 10px;
		height: 18%;		
	}
}

@media #{$large-and-up}{
	.users-user-chat{
		margin-left: 250px;
		width: 77%;

	}
}
