{{#md-navbar name='Example' class='blue'}}
  <!-- A workaround to get the "active" class
    to apply to the active <li> automatically -->
  {{#link-to 'home.login' tagName='li'}}
		<a class='icon-link'>
			<i class='material-icons left'>account_box</i>Login</a>
	{{/link-to}}
  {{#link-to 'home.signup' tagName='li'}}
		<a class='icon-link'>
			<i class='material-icons left'>done</i>Sign Up</a>
  {{/link-to}}
{{/md-navbar}}
{{outlet}}
<footer class='page-footer blue white-text'>
	<div class="container">
	</div>
	{{#md-copyright text='Ember Test'
			startYear=2015
			class='blue darken-2 white-text'}}
			<a class="white-text right" href="#!">
				Mais
			</a>
	{{/md-copyright}}
</footer>
