{{#md-card}}
	<div class='container'>
		{{yield}}
		<a class="waves-effect waves-light btn blue" 
			{{action 'save'}} 
			type='submit'>
			<i class="material-icons left">input</i>Login</a>
	</div>
{{/md-card}}
