<header>
	<div class='navbar-fixed'>
		<nav class={{class}}>
			<div class='nav-wrapper'>
				<div class='container-fluid'>
					<a class="button-collapse" data-activates="sidenav">
						<i class="material-icons">menu</i>
					</a>
					<div class='left-side'>
						{{yield}}
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>
