<header>
	<div class='navbar-fixed'>
		<nav class="deep-orange">
			<div class='nav-wrapper'>
				<div class='container-fluid'>
					<a class="button-collapse" data-activates="sidenav">
						<i class="material-icons">menu</i>
					</a>
				</div>
			</div>
		</nav>
	</div>
</header>
<ul id='sidenav' class='side-nav fixed'>
	{{yield}}
</ul>
<div {{action 'toggleSideNavBtn' on="touchEnd"}} class='side-nav-overlay {{if slideIn 'fade-in'}}'>
</div>
