<div class='md-side-nav-body'>
	{{yield}}
	<footer class='page-footer indigo white-text'>
		<div class="container">
		</div>
		{{#md-copyright text='Ember Test'
				startYear=2015
				class='indigo darken-2 white-text'}}
				<a class="white-text right" href="#!">
					Mais
				</a>
		{{/md-copyright}}
	</footer>
</div>
