{{#md-card}}
	<div class='scroll height-med'>
		{{#md-collection content=messages as |message|}}
			<div id='item' class='collection-item'>
				<p>{{message.username}} -> {{message.body}}</p>
				<div class='secondary-content'>
				</div>
			</div>
		{{/md-collection}}
	</div>
	{{md-input value=body class="col s12" }}
	{{md-btn text='Send'
		action='sendMessage'
		class='indigo darken-2'}}
{{/md-card}}
