.c1{
  background-color: #f8f8f8;
}

.c2{
  background-color: #d8d8d8;
}

.c3{
  background-coloc: #e8e8e8;
}

.flex-container{
  width: 600px;
  height: 50px;
  overflow: scroll;
  float: left;
  //justify-content: space-between;
}

.flex-items{
  float: left;
  overflow: hidden;
  height: 25px;
  padding-top: 5px;
  display: inline-block;
}

.flex-title{
  overflow: hidden;
  width: 50px;
  height: 25px;
  padding: 5px;
  display: inline-block;
}
